.menu-bar {
	background-color: #f0ad4e;
	border: 0;
  border-radius: 0;
}

.menu-header {
	font-size: 24px;
	color: #FFFFFF!important;
	letter-spacing: 1px;
	margin-top: 14px;
}

.menu-text {
	font-size: 24px;
  color: #FFFFFF!important;
  letter-spacing: 1px;
}

.text-container {
  width: 70%;
  letter-spacing: .5px;
}

.image {
  height: 750px;
  background-position: center center;
  background-repeat: no-repeat;
}

.no-border td, .table th {
    border: none !important;
}

.feature-content h2 {
  line-height: .5;
  padding-bottom: 7px;
}

.feature-content h2 small {
  color: #f0ad4e!important;
}

.feature-content p {
  color: #777;
}

.feature-icon img {
  float: right;
}

